# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
myenv/
venv/
.env
.env.*

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# Cache / Temp
# --------------------
.cache/
pytest_cache/

# --------------------
# Build / Docker
# --------------------
*.sqlite3
